{% extends  "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

    <body><br>
        <h1 align="center">Welcome to the home page.</h1><br>        
        <div align="center">

            <ol style="width: 1000px" display="inline-block">
            {% for item in items %}
                <li>This is {{item.title}} , {{item.description}}, cost £{{item.cost}} with car {{item.car}} {{item.carType}} in {{item.postCode}} start from {{item.startDate}} end in {{item.completionDate}}.<a href="{{url_for('checkLesson', x=item.id)}}">Click to see details of of lessons</a></li><br>
            {% endfor %}
            </ol>
        </div>
    </body>


{% endblock %}