{% extends "base.html"%}
{% block title %}Login{% endblock %}

{% block content %}
<br />
<form method="post">
    <h3 align="center">Register</h3>
    <div class="form-group">
        <label for="uname">User Name</label>
        <input type="text" class="form-control" id="uname" name="uname" placeholder="Enter User Name">   
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email"> 
        <label for="Driving License number">Driving License number</label>
        <input type="text" class="form-control" id="DriverID" name="DriverID" placeholder="Enter Driving License number">     
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">   
        <label for="password">Confirm Password</label>
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter Password">  
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Create</button>

</form>

{% endblock %}